.wrapper {
  margin-inline: auto;
  padding-inline: 1rem;
  text-align: start;

  & h2 {
    margin-block-end: 1.25rem;
    margin-block-start: 0;
    text-align: center;
  }

  & .swiperWrapper {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }

  & .pagination {
    position: relative;
  }

  @media screen and (min-width: 768px) {
    max-width: 75vw;
    padding-inline: 0;
  }
}
