.component {
  padding: 0.5rem;
  text-align: center;

  & h3 {
    font-size: 1.25rem;
    margin-block: 1rem;
  }

  & p {
    font-size: 0.875rem;
  }

  & a {
    margin-block-end: 1rem;
  }

  & .info {
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.75);
    padding: 0.75rem;

    @media (min-width: 768px) {
      height: auto;
      margin-block-end: 1rem;
      width: 100%;
    }
  }

  & .img {
    border-radius: 0.5rem;
    width: 100%;

    @media (min-width: 768px) {
      max-width: 50%;
    }
  }

  & .imgWrapperDesktop {
    height: auto;
    margin-block-end: 1rem;
    margin-inline-end: 1rem;
    width: 100%;

    & img {
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.5rem;
      box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.75);
      height: auto;
      width: 100%;
    }
  }

  & .githubLink {
    margin-block-end: 1rem;

    & a {
      margin-inline-start: 0.25rem;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    padding: 0;
  }
}

.desktopWrapper {
  @media (max-width: 767px) {
    display: none;
  }
}

.mobileWrapper {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
