.component {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
  box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.75);
  padding: 1rem;
  text-align: center;

  & h3 {
    font-size: 1.25rem;
    margin-block: 1rem;
  }

  & p {
    font-size: 0.875rem;
  }

  & a {
    margin-block-end: 1rem;
  }

  & .info {
    @media (min-width: 768px) {
      margin-inline: 2rem;
      max-width: 50%;
    }
  }

  & .img {
    border-radius: 0.5rem;
    width: 100%;

    @media (min-width: 768px) {
      max-width: 50%;
    }
  }

  & .imgWrapper {
    & img {
      border-radius: 0.5rem;
      box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.75);
      max-width: 100%;
    }

    @media (min-width: 768px) {
      max-width: 50%;
    }
  }

  & .githubLink {
    margin-block-end: 1rem;

    & a {
      margin-inline-start: 0.5rem;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    align-items: center;

    max-width: 47.5rem;
    padding: 1rem;
  }
}

.dark {
  background-color: #374151;
}
