.wrapper {
  text-align: center;
  padding: 1rem;

  & h2 {
    margin-block-end: 1.25rem;
    margin-block-start: 0;
  }

  & header {
    font-weight: 600;
    text-decoration: underline;
  }

  & ul {
    list-style-type: none;
    padding-inline: 0;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-inline: auto;
    max-width: 75vw;
    padding: 0;

    & h2 {
      margin-block: 0;
    }
  }
}

.experienceWrapper {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
  box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.75);
  margin-block-end: 1rem;
  padding: 1rem;
  text-align: start;

  & .info {
    & h3 {
      font-size: 1rem;
      margin-block-end: 0;
      margin-block-start: 0.25rem;
    }

    & .company {
      font-weight: 600;
    }

    & ul {
      list-style-type: none;
      margin-block-start: 0.5rem;
      padding-inline: 0;
    }

    & li {
      margin-block-end: 0.25rem;
    }

    & p {
      font-size: 0.875rem;
      margin-block: 0;
    }

    & .dates {
      font-size: 0.75rem;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}
