body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dark-primary {
  background-color: #1d2530;
  color: #fffff2;
}

.dark-secondary {
  background-color: #374151;
  color: #fffff2;
}

.dark-mode-text {
  color: #fffff2 !important;
}
